.upStyle {
  float: right;
  font-size: 25px;
  color: green;
}

.downStyle {
  float: right;
  font-size: 25px;
  color: red;
}

.flagStyle {
  float: left;
  font-size: 20px;
  color: red;
}

.timeStyle {
  float: right;
  font-size: 14px
}

.discussion {
  text-decoration: none;
}

.discussion:hover {
  text-decoration: none;
}
