.discussionList {
  margin-top: 50px; 
}

.discussion {
  text-decoration: none;
}

.discussion:hover {
  text-decoration: none;
}

.discussHelp {
  color: #EDEDED;
  text-align: center;
  font-weight: bold !important;
}

.btn {
  white-space: normal;
  word-wrap: break-word;
}

.discussButton {
  background-color: #2C3340 !important;
  /*filter: alpha(opacity=80);*/
  /* IE */
  -moz-opacity: 0.8;
  /* Mozilla */
  opacity: 0.8;
  /* CSS3 */ 
  margin-top: 10px;
}

.discussionName {
  color: #EDEDED;
}

.topic {
  white-space: normal;
  word-wrap: break-word;
}