.commentForm {
  margin-bottom: 30px;
}

.upStyle {
  float: right;
  font-size: 20px;
  color: green;
}

.downStyle {
  float: right;
  font-size: 20px;
  color: red;
}

.vote {
  float: right;
}

.flag {
  float: left;
}

.flagStyleInactive {
  color: black;
}

.flagStyleActive {
  color: red;
}

.timeStyle {
  float: right;
  font-size: 14px;
}

.delta:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}

.delta {
  float: right !important;
  margin-top: -25px;
}

.inlineRight {
  float: right;
}

.well {
  display: inline-block !important;
  background-color: #B2B0C4 !important;
  margin-left: -20px !important;
  margin-bottom: 30px !important;
}

/*.commentDiv {
}*/