.upStyle {
  float: right;
  font-size: 20px;
  color: green;
}

.downStyle {
  float: right;
  font-size: 20px;
  color: red;
}

.vote {
  float: right;
}

.flag {
  float: left;
}

.flagStyleInactive {
  color: black;
}

.flagStyleActive {
  color: red;
}

.timeStyle {
  float: right;
  font-size: 14px;
}

.delta:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}

.inlineRight {
  float: right;
  display: inline-block;
}

.well {
  background-color: #B2B0C4 !important;
}