.upStyle {
  float: right;
  font-size: 20px;
  color: green;
}

.downStyle {
  float: right;
  font-size: 20px;
  color: red;
}

.vote {
  float: right;
}

.flag {
  float: left;
}

.flagStyle {
  font-size: 20px;
  color: red;
}

.timeStyle {
  float: right;
  font-size: 14px;
}