
body {
  background: url('../commonground.jpg') no-repeat center center fixed;
  height: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif !important;
}